page-page1 {

}

.side-button{
    width: 80px;
}

.side-button span{
    font-style: normal;
    text-transform: capitalize;
    font-weight: bold;
}

.item-list{
    height: 80px;
}

.side-icon-size{
    font-size: 30px;
}