#loginPage{
    background-color: #203040;
}

#loginPage .item-md{
    background-color: transparent;
}

#loginPage .item-ios{
    background-color: transparent;
}

#loginPage .item-wp{
    background-color: transparent;
}

.center-login{
    margin-top: 135px;
}

#loginPage input{
    color: white !important;
}