#signUpHeader .toolbar-background-md{
    background-image: url(../assets/img/login-bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#signUpHeader .toolbar-title-md{
    color: white;
}

#signUpHeader .toolbar-title-ios{
    color: white;
}

#signUpHeader .toolbar-title-wp{
    color: white;
}

#signUpHeader .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
}

#signUpHeader .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default{
    color: white;
}

#signUpHeader .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default{
    color: white;
}

.close-btn{
    order: 1;
    margin: 0 6px;
    padding: 0 2px;
    min-width: 44px;
    background: transparent;
}

.bg{
    background-image: url(../assets/img/login-bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bg .item-md{
    background-color: transparent;
}

.bg .item-ios{
    background-color: transparent;
}

.bg .item-wp{
    background-color: transparent;
}